.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
    }

.dialogsItems {
    padding: 5px;
}

.dialogsItems a {
    color: rgb(242, 245, 240);
    text-decoration: none;
}

.active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;
}
